<mat-card class="p-4">

  <mat-toolbar color="primary">
    Available Courses
  </mat-toolbar>

  <div class="mat-elevation-z8">
    @if (courses$ | async; as courses) {
    <app-courses-list [courses]="courses.records" (add)="onAdd()" (edit)="onEdit($event)"
      (delete)="onDelete($event)"></app-courses-list>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageIndex]="pageIndex" [pageSize]="pageSize"
      [length]="courses.totalElements" (page)="refresh($event)" showFirstLastButtons
      aria-label="Select page of courses">
    </mat-paginator>
    } @else {
    <div class="p-4 spinner">
      <mat-spinner color="accent"></mat-spinner>
    </div>
    }
  </div>

</mat-card>
