<mat-card class="p-4">

  <mat-toolbar color="primary">
    Save Course
  </mat-toolbar>

  <form [formGroup]="form" class="mt-4">

    <mat-form-field class="w-100">
      <mat-label>Name</mat-label>
      <input formControlName="name" matInput placeholder="Name">
      <mat-hint align="end">
        {{ (form.get('name')?.value.length ?? 0) + ' / 100' }}
      </mat-hint>
      <mat-error *ngIf="form.get('name')?.invalid">
        {{ getErrorMessage(form.get('name')!) }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Category</mat-label>
      <mat-select formControlName="category">
        <mat-option>None</mat-option>
        <mat-option value="Front-end">Front-End</mat-option>
        <mat-option value="Back-end">Back-End</mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('category')?.invalid">
        {{ getErrorMessage(form.get('category')!) }}
      </mat-error>
    </mat-form-field>

    <div class="mb-4">
      <mat-toolbar>
        <span>Lessons</span>
        <button (click)="addLesson()" mat-icon-button color="accent" aria-label="Add lesson" class="ms-2">
          <mat-icon>add</mat-icon>
        </button>
      </mat-toolbar>
      <mat-error *ngIf="isFormArrayRequired()">
        Add at least one lesson.
      </mat-error>
    </div>

    <table class="w-100" cellspacing="0" formArrayName="lessons"
      *ngFor="let lesson of getLessonsFormArray().controls; let i = index">
      <tr [formGroupName]="i">
        <td class="w-60">
          <mat-form-field class="w-100">
            <mat-label>Name</mat-label>
            <input formControlName="name" matInput placeholder="Name">
            <mat-error *ngIf="getLessonFormControlByIndex(i, 'name')?.invalid">
              The field is invalid.
            </mat-error>
          </mat-form-field>
        </td>
        <td class="w-35">
          <mat-form-field class="w-100">
            <mat-label>URL</mat-label>
            <span matPrefix>https://youtu.br/</span>
            <input formControlName="youtubeUrl" matInput placeholder="URL">
            <mat-error *ngIf="getLessonFormControlByIndex(i, 'youtubeUrl')?.invalid">
              The field is invalid.
            </mat-error>
          </mat-form-field>
        </td>
        <td class="w-5 text-align-center vertical-align-top">
          <button (click)="deleteLesson(i)" mat-icon-button color="warn" aria-label="Remove lesson">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
    </table>

  </form>

  <mat-card-actions align="end">
    <button (click)="onSubmit()" mat-raised-button color="primary" aria-label="Submit form" class="me-2">Save</button>
    <button (click)="onCancel()" mat-raised-button aria-label="Cancel form">Cancel</button>
  </mat-card-actions>

</mat-card>
