<mat-card class="p-4">

  <mat-toolbar color="primary">
    Save Course
  </mat-toolbar>

  <form [formGroup]="form" class="mt-4">

    <mat-form-field class="w-100">
      <mat-label>Name</mat-label>
      <input formControlName="name" matInput placeholder="Name">
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Category</mat-label>
      <mat-select formControlName="category">
        <mat-option>None</mat-option>
        <mat-option value="front-end">Front-End</mat-option>
        <mat-option value="back-end">Back-End</mat-option>
      </mat-select>
    </mat-form-field>

  </form>

  <mat-card-actions align="end">
    <button (click)="onSubmit()" mat-raised-button color="primary" class="me-2">Save</button>
    <button (click)="onCancel()" mat-raised-button>Cancel</button>
  </mat-card-actions>

</mat-card>
